@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --color-primary: #33B786;
    --color-mint: #D4F3E7;
    --color-dark: #181818;
    --color-soft-green: #BFDAD0;
    --color-danger: #FF4B55;
}